@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

:root {
    --roboto: 'Roboto Condensed', sans-serif;
    --outfit: 'Outfit', sans-serif;
    --mono: 'Roboto Mono', monospace;
    --bg: lightgray;
    --bg2: white;
    --fg: 	black;
    --fg2: lightgray;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: hotpink;
    --purple: rebeccapurple;
    --red: #ff5555;
    --yellow: #f1fa8c;
    --article-padding: 0 8rem;
    --nav-main: black;
    --highlight: var(--purple);
}

[data-theme="dark"] {
    --roboto: 'Roboto Condensed', sans-serif;
    --outfit: 'Outfit', sans-serif;
    --mono: 'Roboto Mono', monospace;
    --bg: #282a36;
    --bg2: #44475a;
    --fg: 	#f8f8f2;
    --fg2: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
    --nav-main: black;
    --highlight: var(--green);
}

@media screen and (min-width: 480px) {
    article {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 800px) {
    article {
        padding: var(--article-padding);
    }
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--outfit);
}

body {
    overflow-x: hidden;
}

p, text, li, td, label, span, h1, h2, h3, h4, h5, h6 {
    color: var(--fg)
}

ul, ol {
    padding-left: 2rem
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

main {
    width: 100vw;
    background-color: var(--bg2);
    padding: 1rem 2rem;
    min-height: 30vh;
}

code {
    font-family: var(--mono);
}

nav {
    position: fixed;
    height: 50px;
    width: 100vw;
    background-color: var(--nav-main);
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: var(--green);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.b.i {
    color: var(--highlight);
    font-weight: bolder;
    font-style: normal;
    background: var(--fg2);
    padding: 0.1rem;
    font-family: var(--mono);
}

.code {
    font-family: var(--mono);
    background-color: lightgray;
    color: var(--pink);
    margin: 0.5rem 0.25rem;
    padding: 0.1rem;
}

.codeblock .code {
    font-family: monospace;
    padding: unset;
    margin: unset;
    color: unset;
}


.codeblock {
    width: calc(100% - 4rem);
    padding: 1rem;
    background-color: lightgray;
    margin: 1rem 2rem;
    font-family: var(--mono);
    color: var(--purple);
}

.parallax {
    height: 50vh;
    width: 100vw;
    background-image: url(../img/rob-sheahan-OXiPORaxkmE-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.parallax-end {
    height: 20vh;
    width: 100vw;
    background-image: url(../img/rob-sheahan-OXiPORaxkmE-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dv {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

footer {
    height: 10vh;
    background-color: transparent;
    padding-left: 2rem;
}

footer p {
    padding: 0.25rem 0rem;
}

.example {
    width: calc(100% - 4rem);
    padding: 1rem;
    background-color: lightgray;
    margin-left: 2rem;
    margin-right: 2rem;
}

small {
    font-style: 0.5rem;
    color: grey;
    padding: 0;
}

.logo {
    color: white;
    margin: auto 2rem;
}

.logo a h1 {
    padding: 0;
}

.logo-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    color: white;
}

.logo-version {
    background-color: lightgray;
    color: var(--purple);
    font-size: 12px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.nav-links {
    display: flex;
    align-items: center;
}

.gh-link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-link a span {
    color: white;
}

.page-title {
    background-color: var(--purple);
    padding: 1rem; margin-left: 2rem;
}

.page-title h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: white;
}

a {
    text-decoration: none;
    color: var(--pink);
}

a:visited {
    color: var(--pink);
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--fg2);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--purple);
}

.dropbtn {
    background-color: var(--green);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    min-width: 300px;
    padding: 1rem 2rem;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}