@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

:root {
    --roboto: 'Roboto Condensed', sans-serif;
    --outfit: 'Outfit', sans-serif;
    --mono: 'Roboto Mono', monospace;
    --bg-1: white;
    --bg-2: rgba(0,0,0,0.2);
    --alt-bg-1: black;
    --fg-1: black;
    --padding: 1rem;
    --alt-fg-1: white;
    --menu-1: rgba(0,0,0,0.5);

    --drac-bg: #282a36;
    --drac-bg2: #44475a;
    --drac-fg: 	#f8f8f2;
    --drac-fg2: #6272a4;
    --drac-cyan: #8be9fd;
    --drac-green: #50fa7b;
    --drac-orange: #ffb86c;
    --drac-pink: #ff79c6;
    --drac-purple: #bd93f9;
    --drac-red: #ff5555;
    --drac-yellow: #f1fa8c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--outfit);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

ul, ol {
    padding-left: 2rem;
}

nav {
    height: 50px;
    width: 100%;
    background-color: var(--alt-bg-1);
    color: var(--alt-fg-1);
    display: flex;
    position: fixed;
    align-items: center;
    padding: 0 var(--padding);
    top: 0;
    left: 0;
}

main {
    margin-top: 50px;
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
}

#index {
    background-color: var(--menu-1);
    width: 20%;
    height: 100%;
}

#body {
    background-color: var(--bg-2);
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}

#content {
    width: 80%;
    min-height: 100%;
    padding: calc(var(--padding) * 2);
    background-color: var(--bg-1);
}


#content h1  {
    padding-bottom: 1rem;
}

#content h2 {
    padding-bottom: 1rem;
}

#content p  {
    padding-bottom: 1rem;
}

summary {
    cursor: pointer;
}

details:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.code-block {
    width: 100%;
    background-color: var(--bg-2);
    color: rebeccapurple;
    padding: 1rem;
    font-family: var(--mono);
}

.code-block .comment {
    color: green;
}

.code-block .keyword {
    color: blue;
}

.code-block .variable {
    color: orange;
}

code {
    background-color: var(--bg-2);
    color: rebeccapurple;
    padding: 0 5px;
    font-family: var(--mono);
}

small {
    font-size: 0.75rem;
    color: lightgray;
    font-family: var(--mono);
}

.success {
    color: green;
}

.error {
    color: red;
}

.info {
    color: blue;
}

details {
    width: 100%;
    /*box-shadow: -1px 2px 44px -13px rgba(0,0,0,0.3);*/
}

details summary {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 var(--padding);
    justify-content: space-between;
}

details .content {
    opacity: 0;
    transition: 0.1s;
    background-color: white;
    padding: var(--padding);
    padding-right: 0;
}

details[open] {
    background-color: rgba(0, 0, 0, 0.1);
}

details[open] .content {
    opacity: 1;
}

details .content-no-side-padding {
    opacity: 0;
    transition: 0.1s;
    background-color: white;
    padding: var(--padding);
    padding-right: 0;
    padding-left: 0;
}

details[open] .content-no-side-padding {
    opacity: 1;
}

table {
    width: 100%;
}

th, td {
    color: var(--fg);
    padding: 1rem 0;
}

th {
    color: var(--purple);
    font-size: 0.75rem;
    text-align: left;
}
