<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/main.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f5ae0cbcfc.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <p>Nav</p>
</nav>
<main>
    <section id="index">
        <div class="index-title">
            <div class="logo">
                <span><i class="fas fa-book"></i></span>
                <h1>Freql</h1>
            </div>
            <label>
                <input class="search-input" type="text" placeholder="Search...">
            </label>
        </div>
        {{&index}}
    </section>
    <section id="body">
        <section id="content">
            <div class="page-header">
                <div class="page-title">
                    <p>
                        <a href="#"><span><i class="fas fa-home"></i></span></a> &GreaterGreater; {{name}}
                    </p>
                </div>
            </div>
            <h1>{{name}}</h1>
            <p>{{summary}}</p>
            <table>
                <thead>
                <tr>
                    <th style="width: 25%">Name</th>
                    <th style="width: 75%">Details</th>
                </tr>
                </thead>
                <tbody>
                {{#methods}}
                    <tr id="{{name}}">
                        <td>
                            <p>{{name}}</p>
                            <small>{{signature}}</small>
                        </td>
                        <td>
                            <p>{{summary}}</p>
                            {{#parameters}}
                                <h3>{{name}}<small> : {{type}}</small></h3>
                                <p>{{document}}</p>
                            {{/parameters}}    

                            <h3>Returns</h3>
                            <p>{{returns}}</p>
                        </td>
                    </tr>    
                {{/methods}}
                </tbody>
            </table>
        </section>
    </section>
</main>
</body>
</html>
{{end}}