<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f5ae0cbcfc.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <p>Nav</p>
</nav>
<main>
    <section id="index">

    </section>
    <section id="body">
        <section id="content">
            <h1>Freql</h1>
            <details open>
                <summary>
                    <div><span><i class="fas fa-check-circle success"></i></span> {{name}}</div>
                    <div><small>class</small></div>
                </summary>
                <div class="content-no-side-padding">
                    <p>{{summary}}</p>
                    <details open>
                        <summary>
                            <div>
                                <span>Methods</span>
                            </div>
                        </summary>
                        <div class="content">
                            {{#methods}}
                                <details open>
                                    <summary>
                                        <div>
                                            <span>{{name}}</span>
                                        </div>
                                        <div><small>{{signature}}</small></div>
                                    </summary>
                                    <div class="content">
                                        <p>{{summary}}</p>
                                        <details open>
                                            <summary>
                                                <div>
                                                    <span>Returns</span>
                                                </div>
                                            </summary>
                                            <div class="content-no-side-padding">
                                                <p>{{returns}}</p>
                                            </div>
                                        </details>
                                        <details open>
                                            <summary>
                                                <div>
                                                    <span>Parameters</span>
                                                </div>
                                            </summary>
                                            <div class="content-no-side-padding">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 33%;">Name</th>
                                                        <th style="width: 33%;">Type</th>
                                                        <th style="width: 33%;">Comments</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{#parameters}}
                                                        <tr>
                                                            <td>{{name}}</td>
                                                            <td><code>{{type}}</code></td>
                                                            <td>{{document}}</td>
                                                        </tr>
                                                    {{/parameters}}
                                                    {{^parameters}}
                                                        <tr>
                                                            <td><small>None</small></td>
                                                        </tr>
                                                    {{/parameters}}
                                                    </tbody>
                                                </table>    
                                            </div>
                                        </details>
                                    </div>
                                </details>
                            {{/methods}}
                        </div>
                    </details>
                </div>
            </details>
        </section>
    </section>
</main>
</body>
</html>
{{end}}