<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./css/main.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f5ae0cbcfc.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <p>Nav</p>
</nav>
<main>
    <section id="index">
        <div class="index-title">
            <div class="logo">
                <span><i class="fas fa-book"></i></span>
                <h1>Example documents</h1>
            </div>

            <input class="search-input" type="text" placeholder="Search...">
        </div>
        {{&index}}
    </section>
    <section id="body">
        <article id="content">
            <div class="page-header">
                <div class="page-title">
                    <p>
                        <a href="#"><span><i class="fas fa-home"></i></span></a> &GreaterGreater; {{title}}
                    </p>
                </div>
            </div>
            {{&content}}
            <small>Version {{version}}</small>
        </article>
    </section>
</main>
</body>
</html>
{{end}}